<p>Components List:</p>


<nav>
    <ul>
        <li><a routerLink="/button" routerLinkActive="active">Button Component</a></li>
    </ul>
    <ul>
        <li><a routerLink="/card" routerLinkActive="active">Card Component</a></li>
    </ul>
    <ul>
        <li><a routerLink="/button-group" routerLinkActive="active">Button Group Component</a></li>
    </ul>
    <ul>
        <li><a routerLink="/spinner" routerLinkActive="active">Spinner Component</a></li>
    </ul>
    <ul>
        <li><a routerLink="/layout" routerLinkActive="active">Layout Component</a></li>
    </ul>
    <ul>
        <li><a routerLink="/popup" routerLinkActive="active">Popup Component</a></li>
    </ul>
    <ul>
        <li><a routerLink="/checkbox" routerLinkActive="active">Checkbox Component</a></li>
    </ul>
</nav>